*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:black;
}


.btn{
    
   padding: 31px 30px;
   font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: #0082e6;
    position: fixed;
    right:495px;
    top: 0; 
   
}
.btn:hover {
    box-shadow: 0px 8px  #99bdff;
    transition: .2s;
}
.btn1{
    padding: 31px 30px;
   font-size: 15px;
    color: white;
    text-transform: uppercase;
    background-color: #0082e6;
    
    position:fixed;
    
    right:400px;
    top:0;
    
}
.btn1:hover {
    box-shadow: 0px 8px  #99bdff;
    transition: .2s;
}

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;

}
label.logo{
    color: white;
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: fixed;
    top: 0;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    

}